body {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #588B8B;
    width: 320px;
    height: 390px;
    padding: 10px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588b8b82;
    height: 60px;
    border-radius: 10px;

}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    width: 210px;

}

.calcButtons {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.b1, 
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b0,
.bAc,
.enter {
    height: 60px;
    width: 60px;
    border: 2px solid black;
    cursor: pointer;
}

.addButton,
.subButton,
.multiButton,
.divideButton {
    height: 60px;
    width: 60px;
    border: 2px solid #588B8B;
    cursor: pointer;
    border-radius: 5px;

}

.operators {
    display: flex;
    flex-wrap: wrap;
    width: 60px;
}

.opeBtn {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numBtn {
    background-color: #F28F3B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}